<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Pro</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/index.js" defer></script>
    <script src="static/js/tabs.js" defer></script>
    <script src="static/js/calories.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="tabs">
            <div class="tab active" onclick="openTab(event, 'treino')">Selecionador de Treino</div>
            <div class="tab" onclick="openTab(event, 'calculadora')">Calculadora</div>
            <div class="tab" onclick="openTab(event, 'dieta')">Dieta</div>
        </div>

        <div id="treino" class="tab-content active">

            <form onsubmit="submitForm(event)">
                <div class="form-group">
                    <label><b>Grupos Musculares</b></label>
                    <div class="checkbox-group">
                        <label><input type="checkbox" name="muscular-group" value="peito"> Peito</label>
                        <label><input type="checkbox" name="muscular-group" value="costas"> Costas</label>
                        <label><input type="checkbox" name="muscular-group" value="pernas"> Pernas</label>
                        <label><input type="checkbox" name="muscular-group" value="ombros"> Ombros</label>
                        <label><input type="checkbox" name="muscular-group" value="biceps"> Biceps</label>
                        <label><input type="checkbox" name="muscular-group" value="triceps"> Triceps</label>
                        <label><input type="checkbox" name="muscular-group" value="abdomen"> Abdômen</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="workout-type"><b>Objetivo</b></label>
                    <select id="workout-type" name="workout-type">
                        <option value="hyper">Hipertrofia</option>
                        <option value="resistance">Resistência</option>
                        <option value="strength">Força</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="difficulty"><b>Dificuldade</b></label>
                    <select id="difficulty" name="difficulty">
                        <option value="beginner">Iniciante</option>
                        <option value="intermediate">Intermediário</option>
                        <option value="advanced">Avançado</option>
                    </select>
                </div>
                <button type="submit">Selecionar Treino</button>
            </form>
            <div id="result" class="table-container">
        </div>

        <div id="calculadora" class="tab-content">
            <h1>Calculadora</h1>
            <form onsubmit="calcularCalorias(event)">
                <div class="form-group">
                    <label><b>Selecione os métodos:</b></label>
                    <div class="radio-group">
                        <label><input type="radio" name="metodo" value="harris-benedict"> Harris-Benedict (para iniciantes)</label>
                        <label><input type="radio" name="metodo" value="mifflin-st-jeor"> Mifflin-St Jeor (para avançados)</label>
                        <label><input type="radio" name="metodo" value="cunningham"> Cunningham (para atletas)</label>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="weight"><b>Peso (kg):</b></label>
                    <input type="number" id="weight" name="weight" step="0.1" max="200" required>
                </div>
                <div class="form-group">
                    <label for="height"><b>Altura (cm):</b></label>
                    <input type="number" id="height" name="height" max="255" required>
                </div>
                <div class="form-group">
                    <label for="age"><b>Idade:</b></label>
                    <input type="number" id="age" name="age" max="100" required>
                </div>
                <div class="form-group">
                    <label for="gender"><b>Gênero:</b></label>
                    <select id="gender" name="gender" required>
                        <option value="male">Masculino</option>
                        <option value="female">Feminino</option>
                    </select>
                </div>
                <div class="form-group" id="lean-mass-group" style="display:none;">
                    <label for="lean-mass"><b>Massa magra (kg):</b></label>
                    <input type="number" id="lean-mass" name="lean-mass" step="0.1">
                </div>
                <button type="submit">Calcular Calorias</button>
            </form>
            <div id="calorie-result"></div>
        </div>

        <div id="Macros" class="tab-content">
            <h1>Macros</h1>
            <p>Aqui vai o conteúdo da Dieta.</p>
        </div>
    </div>
</body>
</html>